* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(100% * 2 / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.character {
  width: 100%;
}
