* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.phrase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid black;
  height: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 3rem;
}

span {
  padding-bottom: 0.25rem;
}

.default {
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 0.25rem;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  border-bottom: 2px solid red;
  padding-bottom: 0.25rem;
}
