h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
}

h2,
p {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 400;
}

p {
  line-height: 1.6rem;
  font-weight: 700;
}
